<div class="block">
  <div class="content">
    <h2 class="title">
      <%= params[:q] %>
      <div class="highlighted-title-info-grey">Search Results</div>
    </h2>
    <div class="inner">
      <div class="body">
        <% @search.each_hit_with_result do |hit, page| %>
          <div class="result">
            <h3><%= link_to page.name, page %></h3>
            <p><%= truncate page.body, :length => 100 %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
