<div class="columns">
  <div class="block" id="facts">
    <div class="content">
      <h2 class="title">Facts</h2>
      <div class="inner">
        <ul>
          <% facts.each do |fact| -%>
            <li><%= fact %></li>
          <%- end %>
        </ul>
      </div>
    </div>
  </div>
</div>
