.highlighted-title-info, .highlighted-title-info-grey, .highlighted-title-info-green, .highlighted-title-info-yellow, .highlighted-title-info-red {
  text-transform: none;
}

a.unresolved {
  color: red;
}

/* Styling for article contents */
.body {
}

  .body p {
    margin: 0.4em 0px 0.5em;
    line-height: 1.5em;
  }
  
  .body h3 {
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
  }

  .body ul {
    margin-left: 1.5em;
  }

    .body li {
      margin-bottom: 0.5em;
    }

  .body dt {
    font-weight: bold;
    margin-bottom: 0.2em;
  }

  .body dd {
    margin-bottom: 0.5em;
  }

/* Facts */
.fact {
  margin-bottom: 1em;
}

  .fact h3 {
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    width: 20%;
    margin: 0;
    vertical-align: top;
  }

    .fact h3 input,
    .fact .value input {
      font-size: 0.85em;
    }

    .fact .value input {
      width: 100%;
    }
    
    .fact h3 label,
    .fact .value label {
      display: none;
    }

  .fact .value {
    font-size: 1.2em;
    float: left;
    width: 70%;
    margin: 0;
    vertical-align: top;
  }
  
  .fact .expand,
  .fact .contract {
    float: left;
    width: 10%;
    margin: 0;
    vertical-align: top;
    text-align: right;
  }

    .fact .expand img,
    .fact .contract img {
      position: relative;
      top: -2px;
    }

  .fact .metadata {
    clear: left;
    margin-left: 20%;
    font-size: 0.9em;
    display: none;
  }

    .fact .metadata dt {
      font-weight: bold;
      float: left;
      width: 10%;
      margin: 0;
      margin-top: 0.3em;
      vertical-align: top;
      clear: left;
    }

    .fact .metadata dd {
      padding-top: 0.3em;
    }
    
    .fact .metadata ul.actions {
      list-style: none;
      margin-top: 0.5em;
    }

      .fact .metadata ul.actions li {
        display: inline;
      }

    .fact .metadata input {
      width: 77.5%;
    }

    .fact .metadata textarea {
      width: 77.5%;
      height: 8em;
    }

  .fact .navform {
      margin-left: 20%;
  }

.new_fact_button a {
  text-decoration: none;
  font-weight: bold;
}
  
  .new_fact_button a img {
    position: relative;
    top: 3px;
  }

/* Autocompletion */
ul.ui-autocomplete {
  width: 300px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  list-style: none;
}

  li.ui-menu-item {
    font-weight: bold;
  }
