<div class="block">
  <div class="content">
    <h2 class="title">
      Vowesses in <%= params[:province] %>
    </h2>
    <div class="inner">
      <div class="body">
        <ul id="vowesses">
          <% @pages.each do |page| %>
            <li>
              <%= link_to page.name, page %>
              <% if page.facts.where("label" => "Alias").size > 0 %>
                (<%= page.facts.where("label" => "Alias").collect { |f| f.value }.join(", ") %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
