<div class="block">
  <div class="content">
    <h2 class="title">
      <%= params[:type].humanize %>
    </h2>
    <div class="inner">
      <div class="body">
        <ul>
          <% @pages.each do |page| %>
            <li><%= link_to page.name, page %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
