<div class="block">
  <div class="content">
    <%= controls do |c|
      c.item "Edit Page", edit_page_path(page), :icon => "edit_page"
    end %>
    <h2 class="title">
      <%= page.name %>
      <div class="highlighted-title-info-grey"><%= page.content_type %></div>
    </h2>
    <div class="inner">
      <div class="body">
        <%= format_text page.body if page.body %>
      </div>
    </div>
  </div>
</div>
